body {
  background-color: yellow;
  color: #FFF;
  margin: 0;
  padding: 0;
}

/* Nav Bar */
.navbar {
  opacity: 1;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float: none;
  padding: 0 1em;
}

.nav-link {
  color: #FFF !important;
}

/* Splash Page */
.splash-page {
  background-color: #212121;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -10;
}

.full-name {
  align-items: center;
  color: #FFF;
  display: flex;
  justify-content: center;
  min-height: 100%;
}

/* Bio Page */
.bio-page {
  background-color: red;
  z-index: -10;
  margin-top: 100vh;
  padding: 3% 15% 7% 15%;
}

.profile-pic {
  width: 30%;
  border-radius: 100%;
  margin: 10% 2rem 3rem;
  border: 2px solid #FFFFFF;
}

/* Footer */
.footer {
  padding: 7% 15%;
  text-align: center;
  background-color: #212121;
  color: #FFFFFF;
}

.social-icon {
  margin: 20px 10px;
}

.copyright {
  color: #FFFFFF;
}
