body {
  color: #FFF;
  margin: 0;
  padding: 0;
}

h2 {
  color: #FF4B00;
  font-size: 3rem;
}

.backdrop {
  background: url("../assets/newYorkSkyline.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  z-index: -20;
}

/* Nav Bar */
.navbar {
  opacity: 1;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float: none;
  padding: 0 1em;
}

.nav-link {
  color: #FFF !important;
}

.top-socials-container {
  width: 200px;
  margin-right: 1rem;
  text-align: right;
  position: absolute;
  right: 0;
}

.top-socials-container > button {
  margin-left: 0.5rem;
}

/* Splash Page */
.splash-page {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
}

.splash-page-container {
  align-items: center;
  color: #FFF;
  display: flex;
  justify-content: center;
  min-height: 100%;
}

.full-name {
  padding-bottom: 0.5%;
  border-bottom: 1px solid #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

/* Bio Page */
.bio-page {
  background-color: #FFF;
  color: #666666;
  z-index: -10;
  /* margin-top: 100vh; */
  padding: 5% 10% 5% 10%;
}

.profile-pic {
  width: 70%;
  border-radius: 100%;
  margin: 10% 2rem 3rem;
  border: 2px solid #000;
}

.bio-right {
  margin-top: 8.5%;
}

.callout {
  font-weight: bold;
  font-size: 1.15em;
  color: #000;
}

.download-btn, .project-btn {
  background-color: #2C4FB8;
  color: #FFF;
}

/* Skills Page */
.skills-page {
  background-color: #D3E5F9;
  padding: 5% 10% 5% 10%;
  text-align: center;
  color: #666666;
}

/* Projects Page */
.projects-page {
  background-color: #FFF;
  padding: 5% 10% 5% 10%;
  text-align: center;
  color: #666666;
}

.project-col {
  margin: 3% 0;
}

.card-img-top {
  max-height: 300px;
}



/* Footer */
.footer {
  padding: 7% 15%;
  text-align: center;
  background-color: #252525;
  color: #FFF;
}

.footer-socials-container {
  margin: 50px 0;
}

.footer-socials-container > .social-btn {
  margin: 0 0.5%;
  padding: 0.7% 1%;
}

.copyright {
  color: #FFF;
}
